<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheUUID</key>
	<string>CEEA7316-5800-454A-AA6A-834513AAC59B</string>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAA0QcAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAQAAAAAAAAAAAAAAAAAA
	AHAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAADAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAQgQAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKxBAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAYAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/////AAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAQAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAANAHAAAAAAAAAAAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAABkAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAA
	PAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAA4B
	AAAAAAAAAAAAAAAAAAAcAAAAAAAAANsPyT8AAAAARgEAAAAAAAAAAABAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAACAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAA8AAAAAAAAADwAAAAAAAAAAMAAAAAAAAAAAAAAAAAAABkAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAADwAAAAAAAAAPAAAAAAAAAA8AAAAAAAAADwAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAGBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB5ARiYxFAwAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	ZAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAP////8AAAAAAQEBAQEBAQEBAAABAAEBAQEBAAABAQEBAQEAAQABAQEBAQAAAQEB
	AQAAAAAAAAAAAQAAAQEBAAAAAAEAAAABAQAAAQABAQEBAQEBAAEBAQEBAAEAAQEAAAEB
	AQAAAQABAQEBAQEAAQABAQEBAQEAAQEAAQABAAEBAAEBAAEBAAABAQEBAQEAAQEBAAEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEAAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQAB
	AQEAAQEBAQEBAQEAAQABAAABAAAAAQEBAQEAAAAAAAABAQEAAAABAQEBAAABAAABAQEB
	AQEAAAEBAQEBAQEAAQEBAQABAQEBAQEBAQEBAQEAAAAAAAAAAAEAAAEBAAEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQABAQEBAQAAAQEAAAEAAQABAQEBAQEBAQEBAQEBAAEAAAEAAAEB
	AAEBAQEAAAAAAAABAQEBAQEBAQEBAAAAAQEBAAEBAQEBAQEBAQEBAQEBAQEBAAEAAAEB
	AQEAAQEBAQEBAQEBAQEBAAEAAAEBAQAAAAAAAAAAAAABAQABAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAAAAAAAAAAEBAQEBAQAAAQABAAABAQAAAAAAAAEBAAEBAQEBAQEAAAEB
	AAAAAQEAAAEBAQEBAQEBAQEBAAAAAQEAAQEAAQAAAAAAAAEBAQEBAQEBAQEBAQEBAAAA
	AAAAAQEBAQEAAAAAAQEBAAEBAQEBAQEBAQEAAAAAAAABAQEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>cVdYn5ajyDgnkT7YmtD1Gg</key>
		<array>
			<string>arm64e</string>
			<string>arm64</string>
		</array>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>52</integer>
		<key>xNN67KktpWp7syTT3S1BFA</key>
		<string>iPad14,2</string>
		<key>oQNDePXjSD1z7W0ddqt9tg</key>
		<string>J310AP</string>
		<key>yUqD8AXE/c+IggkuYoxrqA</key>
		<string>com.apple.dt.devicekit.chrome.tablet3</string>
		<key>0GizaJLOyfzgAbxQ/5aniA</key>
		<data>
		AQAAAAAAAAAAAAAABgAAAA==
		</data>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPad</string>
		<key>dW5fpt/6HhaTbnK/UqL6cA</key>
		<string>J310AP</string>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>A</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1.000000</real>
		<key>GGIIDN/ANr8X2WrgS6nBYQ</key>
		<string>J310AP</string>
		<key>qwXfFvH5jPXPxrny0XuGtQ</key>
		<string>DBB47C22-8D42-11F0-A38A-EC80DF958E9C</string>
		<key>+1TeoctsaQC55zwHZ6MESg</key>
		<string>iPad14,2</string>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPad</string>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPad mini 6 (Cellular)</string>
		<key>k+KTni1jrwErpcDMEnn3aw</key>
		<string>1810</string>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPad</string>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		DBu+HtH5chk9xAFEqYsoMHqrCik=
		</data>
		<key>ZGraRMW0TsxCvONeeJ5C2w</key>
		<string>J310AP</string>
		<key>uCIk6n9Am5fsV2cTjhqFQw</key>
		<string>J310AP</string>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>USI</string>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>6</string>
		<key>vme9Buk6XiWFCXoHApxNFA</key>
		<string>iPad</string>
		<key>myx96YOqBSDzLwljSYWBiQ</key>
		<string>iPad14,2</string>
		<key>0+nc/Udy4WNG8S+Q7a/s1A</key>
		<string>iPad14,2</string>
		<key>oYicEKzVTz4/CxxE05pEgQ</key>
		<string>J310AP</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1.000000</real>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>B/A</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-13822.2.13</string>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>B</string>
		<key>GEsznZwAYGOa1a67QU1Uew</key>
		<string>iPad14,2</string>
		<key>MKE8hwsOxxRCtwBk2aDBZA</key>
		<string>iPad14,2</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>J1QHVh74Nnd6Rqyiq71/yw</key>
		<integer>1841299456</integer>
		<key>pMeQxE5szZTjLMk10TisDQ</key>
		<data>
		AACAd/kog0AAAAAAAAAAAAAAAFbsRFtAAAAAAAAAAAA=
		</data>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPad14,2</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>1</string>
		<key>rJkMAGeVLdhP5+10G5hVcA</key>
		<string>{ x: 613.121810, y: 0.000000, width: 109.076925, height: 0.000000 }</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64e</string>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>pad</string>
			<key>ArtworkDeviceSubType</key>
			<integer>2266</integer>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>APPLE7:APPLE6:APPLE5:APPLE4:APPLE3:APPLE2:APPLE1:GLES2,0</string>
			<key>CompatibleDeviceFallback</key>
			<string>iPad11,1</string>
			<key>ArtworkDisplayGamut</key>
			<string>P3</string>
			<key>ArtworkDeviceProductDescription</key>
		<string>iPad mini 6 (Cellular)</string>
			<key>ArtworkDynamicDisplayMode</key>
			<string>0</string>
			<key>GraphicsFeatureSetClass</key>
			<string>APPLE8</string>
			<key>ArtworkDeviceScaleFactor</key>
			<integer>2</integer>
			<key>DevicePerformanceMemoryClass</key>
			<integer>3</integer>
		</dict>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>J310AP</string>
		<key>b4e7mEbjqfewD6oXmo9U5g</key>
		<string>J310AP</string>
		<key>yjP8DgByZmLk04Ta6f6DWQ</key>
		<string>iOS</string>
		<key>LTI8wHvEYKy8zR1IXBW1uQ</key>
		<string>P3</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha2-384</string>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>t8110</string>
		<key>AoKnINTLPoKML3ctoP0AZg</key>
		<dict>
			<key>media-compression</key>
			<false/>
			<key>universal-pARGB10101010-buffer-compression</key>
			<false/>
			<key>universal-lossy-buffer-compression</key>
			<true/>
			<key>universal-buffer-compression-requires-plane-alignment-2048</key>
			<false/>
			<key>buffer-compression</key>
			<false/>
			<key>universal-buffer-compression</key>
			<true/>
			<key>universal-multislice-buffer-compression</key>
			<false/>
		</dict>
		<key>WPEkba78QeFFU/wgqpOx6w</key>
		<data>
		AAAAwO5e6j8AAAAAAAAAAAAAAIATxMI/AAAAAAAAAAA=
		</data>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A2567</string>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4387</string>
		<key>GqAdWRLnC7oYQrNYF48VYA</key>
		<string>iPad14,2</string>
		<key>JUWcn+5Ss0nvr5w/jk4WEg</key>
		<string>iPad</string>
		<key>Wr2SycNVQwBrdup3ok+LxQ</key>
		<data>
		AgAWAgAAAAC2D7EJAAAAAAAAAAAAADBBcHMAAAAAqQ+xCQAAAAAAAAAAAAAx
		QXBzTPo=
		</data>
		<key>4qfpxrvLtWillIHpIsVgMA</key>
		<string>CAF45753-9B3F-4D66-A443-7058ACF3BFF2</string>
		<key>xojWvSTQWT7Icy+xfVzjAQ</key>
		<string>6C3E86A6-7852-4766-A147-E3A56F876E82</string>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>12.9.0</string>
		<key>bbtR9jQx50Fv5Af/affNtA</key>
		<string>iPad mini 6 (Cellular)</string>
		<key>ybGkijAwLTwevankfVzsDQ</key>
		<data>
		AAAAAAC0oUAAAAAAAECXQA==
		</data>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1.000000</real>
		<key>gBw7IWiBnLHaA+lBrZBgWw</key>
		<integer>300</integer>
		<key>yAfB6E2v0++rHtdW7SDg8w</key>
		<string>J310AP</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>VuGdqp8UBpi9vPWHlPluVQ</key>
		<array>
			<string>iPad14,2</string>
			<string>iPad11,1</string>
		</array>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>23A341</string>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		0AUAANoIAABGAQAAAAAAQNsPyT8cAAAA
		</data>
		<key>wYMBabAO8VguyDDVgCsPdg</key>
		<string>s=C2</string>
		<key>G91h5IuJvXISeyngNFqEpg</key>
		<string>iPad14,2</string>
		<key>JHXk7RXOxvlqK+SxkwcM2A</key>
		<array>
		</array>
	</dict>
	<key>CacheVersion</key>
	<string>23B85</string>
</dict>
</plist>
