<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAUx8AAAAAAAACAAAAAAAAAAEAAAAAAAAAxAkAAAAAAADc
	BQAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAACwBAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAyho4AAAAAQAAAAAAAAAAAAAAAAAA
	AAACAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAADAAAAQAA
	AAACAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAABAgQAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFxCAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUAAAAAAAAAAAAAAACAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/////AAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAKAAAAAAAAAGQAAAAAAAAA5AAAAAAAAADkAAAA
	AAAAANAHAAAAAAAAAAAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAHgAAAAAAAAAeAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAABkAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAA8AAAAAAAAADwAAAAAAAAA
	PAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAACamZk+AAAAAAIAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAfAAAAAAAAAAAAAAAAAAAAzAEAAAAAAAAAAEBAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAACAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAABQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAA8AAAAAAAAADwAAAAAAAAAAMAAAAAAAAAAQAAAAAAAABkAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAADwAAAAAAAAAPAAAAAAAAAA8AAAAAAAAADwAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAGBAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAABwAhwyBJQoAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	ZAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAP////8AAAAAAQEBAQEBAQEBAAABAAEBAQEBAQEBAQEBAQEBAQABAQEBAQAAAQEB
	AQAAAAEAAQAAAQAAAQEBAAAAAAEAAAABAQEAAQABAQEBAQEBAAEBAQEBAAEAAQEAAAEB
	AQAAAQABAQEBAQEAAQABAQEBAQEAAQEAAQABAAEBAAEBAAEBAAABAQEBAQEAAQEBAAEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEAAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQAB
	AQEAAQEBAQEBAQEAAQABAAABAAEAAQEBAQEAAAAAAAEBAQEBAQEBAQEBAAABAAABAQEB
	AQEBAQEBAQEBAQEBAQEBAQABAQEBAQEBAQEBAQEAAAAAAAAAAAEAAQEBAAEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQAAAQEAAAEAAQABAQEBAQEBAQEBAQEBAAEAAAEAAAEB
	AAEBAQEAAAAAAAABAQEBAQEBAQEBAAAAAQEBAAEBAQEBAQEBAQEBAQEBAQEBAAEAAAEB
	AQEAAQEBAQEBAQEBAQEBAAEAAAEBAQAAAAAAAAAAAAABAQABAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAAAAAAAAAAEBAQEBAQAAAQABAAABAQAAAAAAAAEBAAEBAQEBAQEAAAEB
	AAAAAQEAAAEBAQEBAQEBAQEBAAAAAQEAAQEAAQAAAAAAAAEBAQEBAQEBAQEBAQEBAAAA
	AAAAAQEBAQEAAAAAAQEBAAEBAQEBAQEBAQEAAAAAAAABAQEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>+1TeoctsaQC55zwHZ6MESg</key>
		<string>iPhone12,5</string>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPhone</string>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>D431AP</string>
		<key>0+nc/Udy4WNG8S+Q7a/s1A</key>
		<string>iPhone12,5</string>
		<key>0GizaJLOyfzgAbxQ/5aniA</key>
		<data>
		AQAAAAAAAAAAAAAAAgAAAA==
		</data>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>52</integer>
		<key>4qfpxrvLtWillIHpIsVgMA</key>
		<string>8493B271-B4AC-4E62-B9C1-121F9943D004</string>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>t8030</string>
		<key>6JkXMDhnrEMvLiRlYJL6zA</key>
		<data>
		AAAAAAAAAAAAAABg4OPHPwAAAAAAAAAAAAAAYL7/sj8=
		</data>
		<key>913P3Zsei09w0GSSOaBD+w</key>
		<data>
		AAAAAAAAAAAAAABg4OPHPwAAAAAAAAAAAAAAYL7/sj8=
		</data>
		<key>91LyMcx4z1w3SGVeqteMnA</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>11.2.0</string>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A2161</string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
		</array>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPhone</string>
		<key>AoKnINTLPoKML3ctoP0AZg</key>
		<dict>
			<key>buffer-compression</key>
			<true/>
			<key>media-compression</key>
			<true/>
			<key>universal-buffer-compression</key>
			<false/>
			<key>universal-buffer-compression-requires-plane-alignment-2048</key>
			<false/>
			<key>universal-lossy-buffer-compression</key>
			<false/>
			<key>universal-multislice-buffer-compression</key>
			<false/>
			<key>universal-pARGB10101010-buffer-compression</key>
			<false/>
		</dict>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>DxmNcovWWN464hwZdGfonA</key>
		<data>
		AAAAAAAA8D8AAADA9a/kPwAAAAAAAAAAAAAAwIlStT8=
		</data>
		<key>G91h5IuJvXISeyngNFqEpg</key>
		<string>iPhone12,5</string>
		<key>GEsznZwAYGOa1a67QU1Uew</key>
		<string>iPhone12,5</string>
		<key>GGIIDN/ANr8X2WrgS6nBYQ</key>
		<string>D431AP</string>
		<key>GqAdWRLnC7oYQrNYF48VYA</key>
		<string>iPhone12,5</string>
		<key>HXTqT3UXOKuTEklxz+wMAA</key>
		<data>
		WQAAAE9JUEcAAAAAAQEAAA==
		</data>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>C</string>
		<key>J1QHVh74Nnd6Rqyiq71/yw</key>
		<integer>1841299456</integer>
		<key>JHXk7RXOxvlqK+SxkwcM2A</key>
		<array>
			<string>nfc-express</string>
			<string>alisha</string>
			<string>find-my</string>
		</array>
		<key>JUWcn+5Ss0nvr5w/jk4WEg</key>
		<string>iPhone</string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>2</string>
		<key>LTI8wHvEYKy8zR1IXBW1uQ</key>
		<string>P3</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-13822.42.2</string>
		<key>MKE8hwsOxxRCtwBk2aDBZA</key>
		<string>iPhone12,5</string>
		<key>NE090Fbwd79LVOHj0AN+OA</key>
		<string>23B85</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1</real>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4399</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha2-384</string>
		<key>PdprWthPO6YyrO6p1vLRgQ</key>
		<data>
		AAAAAAAAAAAAAACA6xVvQAAAAAAAAAAAAAAAlMafUEA=
		</data>
		<key>PsIXZ7uVWznKaTEXDbFSYA</key>
		<data>
		AAAAAADgekAAAMCrJtSCQAAAAAAAAAAAAADAXx9oU0A=
		</data>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1</real>
		<key>SbXytSPZXB1jQ8GLZOxCPw</key>
		<data>
		AAAAAAAAAAAAAAAAYsPRPwAAAAAAAAAAAAAAYL7/sj8=
		</data>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		m2XphfnwWCGSA9GoaeIy6Ey7Dws=
		</data>
		<key>VuGdqp8UBpi9vPWHlPluVQ</key>
		<array>
			<string>iPhone12,5</string>
			<string>iPhone11,4</string>
		</array>
		<key>WPEkba78QeFFU/wgqpOx6w</key>
		<data>
		AAAAAAAA8D8AAAAgDETLPwAAAAAAAAAAAAAAoAbEvD8=
		</data>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPhone 11 Pro Max</string>
		<key>ZGraRMW0TsxCvONeeJ5C2w</key>
		<string>D431AP</string>
		<key>aD51uqjUwgRKjAC04BCrxg</key>
		<data>
		AAAAAAAAAAAAAABUZOdkQAAAAAAAAAAAAAAAlMafUEA=
		</data>
		<key>b4e7mEbjqfewD6oXmo9U5g</key>
		<string>D431AP</string>
		<key>bbtR9jQx50Fv5Af/affNtA</key>
		<string>iPhone 11 Pro Max</string>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>USI</string>
		<key>cVdYn5ajyDgnkT7YmtD1Gg</key>
		<array>
			<string>arm64e</string>
			<string>arm64</string>
		</array>
		<key>dW5fpt/6HhaTbnK/UqL6cA</key>
		<string>D431AP</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1</real>
		<key>gBw7IWiBnLHaA+lBrZBgWw</key>
		<integer>600</integer>
		<key>gD8SNRcHQeIxCAvsp+2vjA</key>
		<data>
		AQAAAAAAAABHUlMAAAAAAA==
		</data>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>QL</string>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPhone12,5</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>k+KTni1jrwErpcDMEnn3aw</key>
		<string>1810</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64e</string>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>23B85</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>1</string>
		<key>myx96YOqBSDzLwljSYWBiQ</key>
		<string>iPhone12,5</string>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		CgUAAOwKAADMAQAAAABAQAAAAAAfAAAA
		</data>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>phone</string>
			<key>ArtworkDeviceProductDescription</key>
			<string>iPhone 11 Pro Max</string>
			<key>ArtworkDeviceScaleFactor</key>
			<integer>3</integer>
			<key>ArtworkDeviceSubType</key>
			<integer>2688</integer>
			<key>ArtworkDisplayGamut</key>
			<string>P3</string>
			<key>ArtworkDynamicDisplayMode</key>
			<string>0</string>
			<key>CompatibleDeviceFallback</key>
			<string>iPhone11,4</string>
			<key>DevicePerformanceMemoryClass</key>
			<integer>3</integer>
			<key>GraphicsFeatureSetClass</key>
			<string>APPLE6</string>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>APPLE5:APPLE4:APPLE3:APPLE3v1:APPLE2:APPLE1:GLES2,0</string>
		</dict>
		<key>oQNDePXjSD1z7W0ddqt9tg</key>
		<string>D431AP</string>
		<key>oYicEKzVTz4/CxxE05pEgQ</key>
		<string>D431AP</string>
		<key>pB5sZVvnp+QjZQtt2KfQvA</key>
		<string>ice19</string>
		<key>pMeQxE5szZTjLMk10TisDQ</key>
		<data>
		AAAAAADgeUAAAACcittnQAAAAAAAAAAAAAAAzIUrWUA=
		</data>
		<key>qwXfFvH5jPXPxrny0XuGtQ</key>
		<string>A3695F3C-B64F-11F0-9F73-6E4CBABDD792</string>
		<key>qzHhHrOpIDLAq2balBdVZg</key>
		<data>
		AAAAAAAAAAAAAMB2rKZkQAAAAAAAAAAAAACgD1fVREA=
		</data>
		<key>rJkMAGeVLdhP5+10G5hVcA</key>
		<string>{ x: 430.000000, y: 260.942364, width: 0.000000, height: 106.854005 }</string>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPhone</string>
		<key>uCIk6n9Am5fsV2cTjhqFQw</key>
		<string>D431AP</string>
		<key>vme9Buk6XiWFCXoHApxNFA</key>
		<string>iPhone</string>
		<key>wYMBabAO8VguyDDVgCsPdg</key>
		<string>s=C2</string>
		<key>xNN67KktpWp7syTT3S1BFA</key>
		<string>iPhone12,5</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>xojWvSTQWT7Icy+xfVzjAQ</key>
		<string>35673A77-95F0-41BF-A6EE-BA5C7D4C8C98</string>
		<key>yAfB6E2v0++rHtdW7SDg8w</key>
		<string>D431AP</string>
		<key>yUqD8AXE/c+IggkuYoxrqA</key>
		<string>com.apple.dt.devicekit.chrome.phone12</string>
		<key>ybGkijAwLTwevankfVzsDQ</key>
		<data>
		AAAAAAAolEAAAAAAANilQA==
		</data>
		<key>yjP8DgByZmLk04Ta6f6DWQ</key>
		<string>iOS</string>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>QL/A</string>
	</dict>
	<key>CacheUUID</key>
	<string>CEEA7316-5800-454A-AA6A-834513AAC59B</string>
	<key>CacheVersion</key>
	<string>23B85</string>
</dict>
</plist>