<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAABAAAAAAAAAOgDAAAAAAAAWAIAAAAAAAAB
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAEAAAAAAAAAAAAAAAAAAAAgAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAwAAAEAAAAAAgAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAGBAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADBCAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAEAAAAAAAAACQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAD/////AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAEAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAoAAAAAAAAAZAAAAAAAAADkAAAAAAAAAOQAAAAAAAAA0AcAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAB4AAAAAAAAAHgAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAPAAA
	AAAAAAA8AAAAAAAAADwAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAACamZk+AAAAAAAAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWAAAAAAAAAAAA
	AAAAAAAA3AEAAAAAAAAAAEBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAQAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAyK8AAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAADAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAACAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAABQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA8AAAAAAAAADwAAAA
	AAAAAAMAAAAAAAAAAQAAAAAAAABkAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	ADwAAAAAAAAAPAAAAAAAAAA8AAAAAAAAADwAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAGBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAA/////wAAAAABAQEBAQEBAQEAAAEBAQABAQEBAQEB
	AQEBAAEAAQEBAQEAAAEBAQEAAAABAAEAAAEAAAEBAQAAAAABAAAAAQEBAQEBAQEBAQAB
	AQEBAQEBAQAAAQEBAAABAAEBAQEBAQABAAEBAQEBAQEAAQABAAEBAAEBAAEAAAEBAQEB
	AQABAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAAAEAAQEBAQEBAAEAAQAAAQAAAAEB
	AQEBAAAAAAABAQEBAQEBAQEBAAABAQEBAQEBAQEBAQEBAQEBAQEBAQEAAQEBAQEBAQEB
	AQEAAQABAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQAAAQEAAAEAAQEBAQEB
	AQEBAQEAAQAAAQAAAQEAAQEBAQAAAAAAAAEBAQEBAQEBAQEAAAABAQEBAQEBAQEBAQEB
	AQEBAQEBAQEAAQAAAQEBAQABAQEBAQEBAQEBAQEAAQAAAQEBAAAAAAEBAAEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEAAAAAAAAAAQEBAQEBAAABAAEAAQEAAAAAAAABAQABAQEB
	AQEBAAEBAAAAAQEAAQEBAQEBAQEBAQEAAAABAQABAQABAAAAAAAAAQEBAQEBAQEBAAAA
	AAAAAAEBAQEBAAAAAAEBAQABAQEBAQEBAQEAAAAAAAABAQEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPhone</string>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>D52gAP</string>
		<key>0+nc/Udy4WNG8S+Q7a/s1A</key>
		<string>iPhone13,1</string>
		<key>0GizaJLOyfzgAbxQ/5aniA</key>
		<data>
		AQAAAAAAAAAAAAAAAgAAAA==
		</data>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>52</integer>
		<key>4qfpxrvLtWillIHpIsVgMA</key>
		<string>305DE3F6-3EBE-453F-BB9C-FF5073068472</string>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>t8101</string>
		<key>913P3Zsei09w0GSSOaBD+w</key>
		<data>
		AAAAAAAAAAAAAAAA8JXMPwAAAAAAAAAAAAAAoDeJtj8=
		</data>
		<key>91LyMcx4z1w3SGVeqteMnA</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>12.10.10</string>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A2399</string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
		</array>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPhone</string>
		<key>AoKnINTLPoKML3ctoP0AZg</key>
		<dict>
			<key>buffer-compression</key>
			<false/>
			<key>media-compression</key>
			<false/>
			<key>universal-buffer-compression</key>
			<true/>
			<key>universal-lossy-buffer-compression</key>
			<false/>
			<key>universal-multislice-buffer-compression</key>
			<false/>
			<key>universal-pARGB10101010-buffer-compression</key>
			<false/>
		</dict>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>HXTqT3UXOKuTEklxz+wMAA</key>
		<data>
		KwAAAE9JUEfBAAAAAAEAAA==
		</data>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>C</string>
		<key>J1QHVh74Nnd6Rqyiq71/yw</key>
		<integer>1841299456</integer>
		<key>JHXk7RXOxvlqK+SxkwcM2A</key>
		<array>
			<string>nfc-express</string>
			<string>alisha</string>
			<string>find-my</string>
		</array>
		<key>JUWcn+5Ss0nvr5w/jk4WEg</key>
		<string>iPhone</string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>2</string>
		<key>LTI8wHvEYKy8zR1IXBW1uQ</key>
		<string>P3</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-10151.42.2</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1</real>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4387</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha2-384</string>
		<key>PdprWthPO6YyrO6p1vLRgQ</key>
		<data>
		AAAAAAAAAAAAAACjXFlwQAAAAAAAAAAAAADgXoUqUUA=
		</data>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1</real>
		<key>SbXytSPZXB1jQ8GLZOxCPw</key>
		<data>
		AAAAAAAAAAAAAAAAoXbVPwAAAAAAAAAAAAAAoDeJtj8=
		</data>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		3e65HcDpzx8Ua/8fAonsldnH5D8=
		</data>
		<key>VuGdqp8UBpi9vPWHlPluVQ</key>
		<array>
			<string>iPhone13,1</string>
			<string>iPhone12,3</string>
		</array>
		<key>WPEkba78QeFFU/wgqpOx6w</key>
		<data>
		AAAAAAAA8D8AAAAA9zbQPwAAAAAAAAAAAAAAYA/swT8=
		</data>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPhone 12 mini</string>
		<key>aD51uqjUwgRKjAC04BCrxg</key>
		<data>
		AAAAAAAAAAAAAADQNcZlQAAAAAAAAAAAAADgXoUqUUA=
		</data>
		<key>bbtR9jQx50Fv5Af/affNtA</key>
		<string>iPhone 12 mini</string>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>STATS</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1</real>
		<key>gBw7IWiBnLHaA+lBrZBgWw</key>
		<integer>600</integer>
		<key>gD8SNRcHQeIxCAvsp+2vjA</key>
		<data>
		AQAAAAAAAABSAAAAAAAAAA==
		</data>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>ZD</string>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPhone13,1</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>k+KTni1jrwErpcDMEnn3aw</key>
		<string>1600</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64e</string>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>21B91</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>1</string>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		OAQAACQJAADcAQAAAABAQAAAAAAWAAAA
		</data>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>phone</string>
			<key>ArtworkDeviceProductDescription</key>
		<string>iPhone 12 mini</string>
			<key>ArtworkDeviceScaleFactor</key>
			<integer>3</integer>
			<key>ArtworkDeviceSubType</key>
			<integer>2340</integer>
			<key>ArtworkDisplayGamut</key>
			<string>P3</string>
			<key>ArtworkDynamicDisplayMode</key>
			<string>0</string>
			<key>CompatibleDeviceFallback</key>
			<string>iPhone12,3</string>
			<key>DevicePerformanceMemoryClass</key>
			<integer>3</integer>
			<key>GraphicsFeatureSetClass</key>
			<string>APPLE7</string>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>APPLE6:APPLE5:APPLE4:APPLE3:APPLE3v1:APPLE2:APPLE1:GLES2,0</string>
		</dict>
		<key>oYicEKzVTz4/CxxE05pEgQ</key>
		<string>D52gAP</string>
		<key>pB5sZVvnp+QjZQtt2KfQvA</key>
		<string>mav20</string>
		<key>pMeQxE5szZTjLMk10TisDQ</key>
		<data>
		AAAAAACAdkAAAABKvLNoQAAAAAAAAAAAAABAbJ9NW0A=
		</data>
		<key>qNNddlUK+B/YlooNoymwgA</key>
		<string>17.1.1</string>
		<key>qwXfFvH5jPXPxrny0XuGtQ</key>
		<string>DE068946-7964-11EE-A6E6-0809FA644ADB</string>
		<key>rJkMAGeVLdhP5+10G5hVcA</key>
		<string>{ x: 360.000000, y: 197.616735, width: 0.000000, height: 109.212855 }</string>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPhone</string>
		<key>vme9Buk6XiWFCXoHApxNFA</key>
		<string>iPhone</string>
		<key>wYMBabAO8VguyDDVgCsPdg</key>
		<string>s=C2</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>ybGkijAwLTwevankfVzsDQ</key>
		<data>
		AAAAAADgkEAAAAAAAEiiQAAAAAAAlJFAAAAAAAAIo0A=
		</data>
		<key>yjP8DgByZmLk04Ta6f6DWQ</key>
		<string>iOS</string>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>ZD/A</string>
	</dict>
	<key>CacheUUID</key>
	<string>CEEA7316-5800-454A-AA6A-834513AAC59B</string>
	<key>CacheVersion</key>
	<string>23B85</string>
</dict>
</plist>
