<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAEAAAAAAAAAxAkAAAAAAADc
	BQAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAlLVzAAAAAQAAAAAAAAAAAAAAAAAA
	ACAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAADAAAAQAA
	AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABgQAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABVVVVCAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUAAAAAAAAAAAAAIABAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/////AAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAQAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAKAAAAAAAAAGQAAAAAAAAA5AAAAAAAAADkAAAA
	AAAAANAHAAAAAAAAAAAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAHgAAAAAAAAAeAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAABkAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAA8AAAAAAAAADwAAAAAAAAA
	PAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAACamZk+AAAAAAIAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAygEAAAAAAAAAAEBAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAACAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAA8AAAAAAAAADwAAAAAAAAAAMAAAAAAAAAAQAAAAAAAABkAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAADwAAAAAAAAAPAAAAAAAAAA8AAAAAAAAADwAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAGBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAB6gmzZmIRYAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	ZAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAP////8AAAAAAQEBAQEBAQEBAAABAAEBAAEBAQEBAQEBAQEAAQABAQEBAQAAAQEB
	AQAAAAEAAQAAAQAAAQEBAAAAAAEAAAABAQEAAQABAQEBAQEBAAEBAQEBAAEAAQEAAAEB
	AQAAAQABAQEBAQEAAQABAQEBAQEAAQEAAQABAAEBAAEBAAEBAAABAQEBAQEAAQEBAAEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEAAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQAB
	AQEAAQEBAQEBAQEAAQABAAABAAAAAQEBAQEAAAAAAAABAQEBAQEBAQEBAAABAAABAQEB
	AQEBAQEBAQEBAQEBAQEBAQABAQEBAQEBAQEBAQEAAAAAAAAAAAEAAQEBAAEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQAAAQEAAAEAAQABAQEBAQEBAQEBAQEBAAEAAAEAAAEB
	AAEBAQEAAAAAAAABAQEBAQEBAQEBAAAAAQEBAAEBAQEBAQEBAQEBAQEBAQEBAAEAAAEB
	AQEAAQEBAQEBAQEBAQEBAAEAAAEBAQAAAAAAAAAAAAABAQABAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAAAAAAAAAAEBAQEBAQAAAQABAAABAQAAAAAAAAEBAAEBAQEBAQEAAAEB
	AAAAAQEAAAEBAQEBAQEBAQEBAAAAAQEAAQEAAQAAAAAAAAEBAQEBAQEBAQEBAQEBAAAA
	AAAAAQEBAQEAAAAAAQEBAAEBAQEBAQEBAQEAAAAAAAABAQEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>+1TeoctsaQC55zwHZ6MESg</key>
		<string>iPhone13,4</string>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPhone</string>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>D54pAP</string>
		<key>0+nc/Udy4WNG8S+Q7a/s1A</key>
		<string>iPhone13,4</string>
		<key>0GizaJLOyfzgAbxQ/5aniA</key>
		<data>
		AQAAAAAAAAAAAAAAAgAAAA==
		</data>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>52</integer>
		<key>4qfpxrvLtWillIHpIsVgMA</key>
		<string>FDA5BE60-7970-4A92-A4F9-2F31ED17C24E</string>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>t8101</string>
		<key>913P3Zsei09w0GSSOaBD+w</key>
		<data>
		AAAAAAAAAAAAAABA6FbPPwAAAAAAAAAAAAAAoCZMsj8=
		</data>
		<key>91LyMcx4z1w3SGVeqteMnA</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>12.10.10</string>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A2410</string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
		</array>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPhone</string>
		<key>AoKnINTLPoKML3ctoP0AZg</key>
		<dict>
			<key>buffer-compression</key>
			<false/>
			<key>media-compression</key>
			<false/>
			<key>universal-buffer-compression</key>
			<true/>
			<key>universal-buffer-compression-requires-plane-alignment-2048</key>
			<false/>
			<key>universal-lossy-buffer-compression</key>
			<false/>
			<key>universal-multislice-buffer-compression</key>
			<false/>
			<key>universal-pARGB10101010-buffer-compression</key>
			<false/>
		</dict>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>G91h5IuJvXISeyngNFqEpg</key>
		<string>iPhone13,4</string>
		<key>GEsznZwAYGOa1a67QU1Uew</key>
		<string>iPhone13,4</string>
		<key>GGIIDN/ANr8X2WrgS6nBYQ</key>
		<string>D54pAP</string>
		<key>GqAdWRLnC7oYQrNYF48VYA</key>
		<string>iPhone13,4</string>
		<key>HXTqT3UXOKuTEklxz+wMAA</key>
		<data>
		KwAAAE9JUEfBAAAAAAEAAA==
		</data>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>B</string>
		<key>J1QHVh74Nnd6Rqyiq71/yw</key>
		<integer>1841299456</integer>
		<key>JHXk7RXOxvlqK+SxkwcM2A</key>
		<array>
			<string>nfc-express</string>
			<string>alisha</string>
			<string>find-my</string>
		</array>
		<key>JUWcn+5Ss0nvr5w/jk4WEg</key>
		<string>iPhone</string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>2</string>
		<key>LTI8wHvEYKy8zR1IXBW1uQ</key>
		<string>P3</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-13822.2.13</string>
		<key>MKE8hwsOxxRCtwBk2aDBZA</key>
		<string>iPhone13,4</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1</real>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4387</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha2-384</string>
		<key>PdprWthPO6YyrO6p1vLRgQ</key>
		<data>
		AAAAAAAAAAAAAJBtT29zQAAAAAAAAAAAAACw7dyLUEA=
		</data>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1</real>
		<key>SbXytSPZXB1jQ8GLZOxCPw</key>
		<data>
		AAAAAAAAAAAAAADg2n3VPwAAAAAAAAAAAAAAoCZMsj8=
		</data>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		of+TJDJYQwl/DoOv24QVkhZ64l0=
		</data>
		<key>VuGdqp8UBpi9vPWHlPluVQ</key>
		<array>
			<string>iPhone13,4</string>
			<string>iPhone12,5</string>
		</array>
		<key>WPEkba78QeFFU/wgqpOx6w</key>
		<data>
		AAAAAAAA8D8AAABg5DrRPwAAAAAAAAAAAAAAwE4avT8=
		</data>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPhone 12 Pro Max</string>
		<key>ZGraRMW0TsxCvONeeJ5C2w</key>
		<string>D54pAP</string>
		<key>aD51uqjUwgRKjAC04BCrxg</key>
		<data>
		AAAAAAAAAAAAAOAFF1dsQAAAAAAAAAAAAACw7dyLUEA=
		</data>
		<key>b4e7mEbjqfewD6oXmo9U5g</key>
		<string>D54pAP</string>
		<key>bbtR9jQx50Fv5Af/affNtA</key>
		<string>iPhone 12 Pro Max</string>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>USI</string>
		<key>cVdYn5ajyDgnkT7YmtD1Gg</key>
		<array>
			<string>arm64e</string>
			<string>arm64</string>
		</array>
		<key>dW5fpt/6HhaTbnK/UqL6cA</key>
		<string>D54pAP</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1</real>
		<key>gBw7IWiBnLHaA+lBrZBgWw</key>
		<integer>600</integer>
		<key>gD8SNRcHQeIxCAvsp+2vjA</key>
		<data>
		AQAAAAAAAABXVwAAAAAAAA==
		</data>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>J</string>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPhone13,4</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>k+KTni1jrwErpcDMEnn3aw</key>
		<string>1810</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64e</string>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>23A355</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>1</string>
		<key>myx96YOqBSDzLwljSYWBiQ</key>
		<string>iPhone13,4</string>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		BAUAANoKAADKAQAAAABAQAAAAAAZAAAA
		</data>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>phone</string>
			<key>ArtworkDeviceProductDescription</key>
		<string>iPhone 12 Pro Max</string>
			<key>ArtworkDeviceScaleFactor</key>
			<integer>3</integer>
			<key>ArtworkDeviceSubType</key>
			<integer>2778</integer>
			<key>ArtworkDisplayGamut</key>
			<string>P3</string>
			<key>ArtworkDynamicDisplayMode</key>
			<string>0</string>
			<key>CompatibleDeviceFallback</key>
			<string>iPhone12,5</string>
			<key>DevicePerformanceMemoryClass</key>
			<integer>6</integer>
			<key>GraphicsFeatureSetClass</key>
			<string>APPLE7</string>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>APPLE6:APPLE5:APPLE4:APPLE3:APPLE3v1:APPLE2:APPLE1:GLES2,0</string>
		</dict>
		<key>oQNDePXjSD1z7W0ddqt9tg</key>
		<string>D54pAP</string>
		<key>oYicEKzVTz4/CxxE05pEgQ</key>
		<string>D54pAP</string>
		<key>pB5sZVvnp+QjZQtt2KfQvA</key>
		<string>mav20</string>
		<key>pMeQxE5szZTjLMk10TisDQ</key>
		<data>
		AAAAAADAekAAAKAJgylvQAAAAAAAAAAAAACgNkpRWkA=
		</data>
		<key>qwXfFvH5jPXPxrny0XuGtQ</key>
		<string>314A96EC-9A6A-11F0-A9B9-6043FC9567E5</string>
		<key>rJkMAGeVLdhP5+10G5hVcA</key>
		<string>{ x: 428.000000, y: 249.297246, width: 0.000000, height: 105.270155 }</string>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPhone</string>
		<key>uCIk6n9Am5fsV2cTjhqFQw</key>
		<string>D54pAP</string>
		<key>vme9Buk6XiWFCXoHApxNFA</key>
		<string>iPhone</string>
		<key>wYMBabAO8VguyDDVgCsPdg</key>
		<string>s=C2</string>
		<key>xNN67KktpWp7syTT3S1BFA</key>
		<string>iPhone13,4</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>xojWvSTQWT7Icy+xfVzjAQ</key>
		<string>FD5FF41B-8FF7-4AFC-8F61-A8EC5F8E72FA</string>
		<key>yAfB6E2v0++rHtdW7SDg8w</key>
		<string>D54pAP</string>
		<key>yUqD8AXE/c+IggkuYoxrqA</key>
		<string>com.apple.dt.devicekit.chrome.phone5</string>
		<key>ybGkijAwLTwevankfVzsDQ</key>
		<data>
		AAAAAAAQlEAAAAAAALSlQA==
		</data>
		<key>yjP8DgByZmLk04Ta6f6DWQ</key>
		<string>iOS</string>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>J/A</string>
	</dict>
	<key>CacheUUID</key>
	<string>CEEA7316-5800-454A-AA6A-834513AAC59B</string>
	<key>CacheVersion</key>
	<string>23B85</string>
</dict>
</plist>