<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheUUID</key>
	<string>CEEA7316-5800-454A-AA6A-834513AAC59B</string>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAACYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAADAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAggAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AwAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKAAAAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	ADw7OwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/////AAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAQAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAKAAAAAAAAAGQAAAAAAAAA5AAAAAAAAADkAAAA
	AAAAANAHAAAAAAAAAAAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAABkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	HgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAVAAAAAAAAAAAAAAAAAAAACAEAAAAAAAAAAABAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAB4AAAAAAAAAAMAAAAAAAAAAAAAAAAAAABkAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAB4AAAAAAAAAAAAAAAAAAAAeAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAGBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	ZAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAP////8AAAAAAQEBAQEBAQEBAAABAAEBAAEBAAABAQEBAQEAAQABAQEBAQAAAQEB
	AQAAAAEAAQAAAQAAAQEBAAAAAAEAAAABAQAAAQABAQEBAQEBAAEBAQEBAAEAAQEAAAEB
	AQAAAQABAQEBAQEAAQABAQEBAQEAAQEAAQABAAEBAAEBAAEBAAABAQEBAQEBAQEBAAEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEAAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQAB
	AQEAAQEBAQEBAQEAAQABAAABAAAAAQEBAQEAAAAAAAABAQEBAQEBAQEBAAABAAABAQEB
	AQEAAAEBAQEBAQAAAQEBAQABAQEBAQEBAQEBAQEAAAAAAAAAAAEAAAEBAAEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQABAQEBAQAAAQEAAAEAAQABAQEBAQEBAQEBAQEBAAEAAAEAAAEB
	AAEBAQEAAAAAAAABAQEBAQEBAQEBAAAAAQEBAAEBAQEBAQEBAQEBAQEBAQEBAAEAAAEB
	AQEAAQEBAQEBAQEBAQEBAAEAAAEBAQAAAAAAAAAAAAABAQABAQEBAQEBAQEBAAEBAQEB
	AQEBAAEAAQEBAAAAAAAAAAEBAQEBAQAAAQABAAABAQAAAAAAAAEBAAEBAQEBAQEAAAEB
	AAAAAQEAAAEBAQEBAQEBAQEBAAAAAQEAAQEAAQAAAAAAAAEBAQEBAQEBAQEBAQEAAAAA
	AAAAAQEBAQEAAAAAAQEBAAEBAQEBAQEBAQEAAAAAAAABAQEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>cVdYn5ajyDgnkT7YmtD1Gg</key>
		<array>
			<string>arm64e</string>
			<string>arm64</string>
		</array>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>51</integer>
		<key>xNN67KktpWp7syTT3S1BFA</key>
		<string>iPad11,7</string>
		<key>oQNDePXjSD1z7W0ddqt9tg</key>
		<string>J172aAP</string>
		<key>yUqD8AXE/c+IggkuYoxrqA</key>
		<string>com.apple.dt.devicekit.chrome.tablet</string>
		<key>0GizaJLOyfzgAbxQ/5aniA</key>
		<data>
		AQAAAAAAAAAAAAAAAgAAAA==
		</data>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPad</string>
		<key>dW5fpt/6HhaTbnK/UqL6cA</key>
		<string>J172aAP</string>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>B</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1.000000</real>
		<key>GGIIDN/ANr8X2WrgS6nBYQ</key>
		<string>J172aAP</string>
		<key>qwXfFvH5jPXPxrny0XuGtQ</key>
		<string>DBB47C22-8D42-11F0-A38A-EC80DF958E9C</string>
		<key>+1TeoctsaQC55zwHZ6MESg</key>
		<string>iPad11,7</string>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPad</string>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPad 8 (Cellular)</string>
		<key>k+KTni1jrwErpcDMEnn3aw</key>
		<string>1810</string>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPad</string>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		ZbogJyksfkvNbH2BiyDuP5q+2sw=
		</data>
		<key>ZGraRMW0TsxCvONeeJ5C2w</key>
		<string>J172aAP</string>
		<key>uCIk6n9Am5fsV2cTjhqFQw</key>
		<string>J172aAP</string>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>Murata</string>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>2</string>
		<key>vme9Buk6XiWFCXoHApxNFA</key>
		<string>iPad</string>
		<key>myx96YOqBSDzLwljSYWBiQ</key>
		<string>iPad11,7</string>
		<key>0+nc/Udy4WNG8S+Q7a/s1A</key>
		<string>iPad11,7</string>
		<key>oYicEKzVTz4/CxxE05pEgQ</key>
		<string>J172aAP</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1.000000</real>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>RU/A</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-13822.2.13</string>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>RU</string>
		<key>GEsznZwAYGOa1a67QU1Uew</key>
		<string>iPad11,7</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>pMeQxE5szZTjLMk10TisDQ</key>
		<data>
		AAAgjdnahkAAAAAAAAAAAAAAgPeLVk5AAAAAAAAAAAA=
		</data>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>J1QHVh74Nnd6Rqyiq71/yw</key>
		<integer>1841299456</integer>
		<key>MKE8hwsOxxRCtwBk2aDBZA</key>
		<string>iPad11,7</string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>91LyMcx4z1w3SGVeqteMnA</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPad11,7</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>2</string>
		<key>rJkMAGeVLdhP5+10G5hVcA</key>
		<string>{ x: 731.356226, y: 0.000000, width: 60.676146, height: 0.000000 }</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64e</string>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>pad</string>
			<key>ArtworkDeviceSubType</key>
			<integer>2160</integer>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>APPLE4:APPLE3v1:APPLE2:APPLE1:GLES2,0</string>
			<key>CompatibleDeviceFallback</key>
			<string>iPad7,12</string>
			<key>ArtworkDisplayGamut</key>
			<string>sRGB</string>
			<key>ArtworkDeviceProductDescription</key>
		<string>iPad 8 (Cellular)</string>
			<key>ArtworkDynamicDisplayMode</key>
			<string>0</string>
			<key>GraphicsFeatureSetClass</key>
			<string>APPLE5</string>
			<key>ArtworkDeviceScaleFactor</key>
			<integer>2</integer>
			<key>DevicePerformanceMemoryClass</key>
			<integer>4</integer>
		</dict>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>J172aAP</string>
		<key>b4e7mEbjqfewD6oXmo9U5g</key>
		<string>J172aAP</string>
		<key>yjP8DgByZmLk04Ta6f6DWQ</key>
		<string>iOS</string>
		<key>LTI8wHvEYKy8zR1IXBW1uQ</key>
		<string>sRGB</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha2-384</string>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>t8020</string>
		<key>AoKnINTLPoKML3ctoP0AZg</key>
		<dict>
			<key>media-compression</key>
			<true/>
			<key>universal-pARGB10101010-buffer-compression</key>
			<false/>
			<key>universal-lossy-buffer-compression</key>
			<false/>
			<key>universal-buffer-compression-requires-plane-alignment-2048</key>
			<false/>
			<key>buffer-compression</key>
			<true/>
			<key>universal-buffer-compression</key>
			<false/>
			<key>universal-multislice-buffer-compression</key>
			<false/>
		</dict>
		<key>WPEkba78QeFFU/wgqpOx6w</key>
		<data>
		AAAAQKHk7D8AAAAAAAAAAAAAAIA5LbM/AAAAAAAAAAA=
		</data>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A2429</string>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4355</string>
		<key>GqAdWRLnC7oYQrNYF48VYA</key>
		<string>iPad11,7</string>
		<key>JUWcn+5Ss0nvr5w/jk4WEg</key>
		<string>iPad</string>
		<key>4qfpxrvLtWillIHpIsVgMA</key>
		<string>6C765BCE-F096-47F3-A242-6170A96660E8</string>
		<key>xojWvSTQWT7Icy+xfVzjAQ</key>
		<string>0</string>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>12.10.9</string>
		<key>bbtR9jQx50Fv5Af/affNtA</key>
		<string>iPad 8 (Cellular)</string>
		<key>ybGkijAwLTwevankfVzsDQ</key>
		<data>
		AAAAAABQmUAAAAAAAOCgQA==
		</data>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1.000000</real>
		<key>gBw7IWiBnLHaA+lBrZBgWw</key>
		<integer>300</integer>
		<key>yAfB6E2v0++rHtdW7SDg8w</key>
		<string>J172aAP</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>VuGdqp8UBpi9vPWHlPluVQ</key>
		<array>
			<string>iPad11,7</string>
			<string>iPad7,12</string>
		</array>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>23A341</string>
		<key>pB5sZVvnp+QjZQtt2KfQvA</key>
		<string>ice18</string>
		<key>gD8SNRcHQeIxCAvsp+2vjA</key>
		<data>
		AQAAAAAAAABSAAAAAAAAAA==
		</data>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		VAYAAHAIAAAIAQAAAAAAQAAAAAAVAAAA
		</data>
		<key>wYMBabAO8VguyDDVgCsPdg</key>
		<string>s=C1</string>
		<key>G91h5IuJvXISeyngNFqEpg</key>
		<string>iPad11,7</string>
		<key>JHXk7RXOxvlqK+SxkwcM2A</key>
		<array>
		</array>
	</dict>
	<key>CacheVersion</key>
	<string>23B85</string>
</dict>
</plist>
