<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheUUID</key>
	<string>CEEA7316-5800-454A-AA6A-834513AAC59B</string>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAARB8AAAAAAAACAAAAAAAAAAEAAAAAAAAAuAsAAAAAAAAI
	BwAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyho4AAAAAQAAAAAAAAAAAAAAAAAA
	AHAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAA4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAADAAAAQAA
	AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAEIEAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVVVVQgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAU
	AAAAAAAAAAAAAIABAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAD/////AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAQAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAKAAAAAAAAAGQAAAAAAAAA5AAAAAAA
	AADkAAAAAAAAANAHAAAAAAAAAAAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAHgAAAAAAAAAeAAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAABkAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAA8AAAAAAAAADwA
	AAAAAAAAPAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAmpmZPgAAAAAAAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQAAAAAAAAAA
	AAAAAAAAAMoBAAAAAAAAAABAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAEAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAUAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAPAAAAAAAAAA8AAA
	AAAAAAADAAAAAAAAAAEAAAAAAAAAZAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAA8AAAAAAAAADwAAAAAAAAAPAAAAAAAAAA8AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAABgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAABkAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABkAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAP////8AAAAAAQEBAQEBAQEBAAABAAEBAQEBAQEB
	AQEBAQEAAQABAQEBAQAAAQEBAQAAAAEAAQAAAQAAAQEBAAAAAAEAAAABAQEAAQABAQEB
	AQEBAAEBAQEBAQABAQAAAQEBAAABAAEBAQEBAQABAAEBAQEBAQEAAQABAAEBAAEBAAEB
	AAABAQEBAQEAAQEBAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAAEBAQEBAQEBAQEBAAEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEAAAEAAQEBAQEBAQEAAQABAAABAAAAAQEBAQEAAAAAAAABAQEBAQEBAQEBAAAB
	AAABAQEBAQEBAQEBAQEBAQEBAQEBAQABAQEBAQEBAQEBAQEAAQABAQEAAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQAAAQEAAAEAAQEBAQEBAQEBAQEAAQAAAQAAAQEAAQEB
	AQAAAAAAAAEBAQEBAQEBAQEAAAABAQEAAQEBAQEBAQEBAQEBAQEBAQEAAQAAAQEBAQAB
	AQEBAQEBAQEBAQEAAQAAAQEBAAAAAAEBAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEA
	AAAAAAAAAQEBAQEBAAABAAEAAQEAAAAAAAABAQABAQEBAQEBAAEBAAAAAQEAAQEBAQEB
	AQEBAQEAAAABAQABAQABAAAAAAAAAQEBAQEBAQEBAAAAAAAAAAEBAQEBAAAAAAEBAQAB
	AQEBAQEBAQEAAAAAAAABAQEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>52</integer>
		<key>aD51uqjUwgRKjAC04BCrxg</key>
		<data>
		AAAAAAAAAAAAADBX8n5rQAAAAAAAAAAAAABgaMuLUEA=
		</data>
		<key>qwXfFvH5jPXPxrny0XuGtQ</key>
		<string>F80DC0FE-FB11-11EF-976A-E360BC21E1C6</string>
		<key>yUqD8AXE/c+IggkuYoxrqA</key>
		<string>com.apple.dt.devicekit.chrome.phone5</string>
		<key>0GizaJLOyfzgAbxQ/5aniA</key>
		<data>
		AQAAAAAAAAAAAAAAAwAAAA==
		</data>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPhone</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1.000000</real>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>C</string>
		<key>PdprWthPO6YyrO6p1vLRgQ</key>
		<data>
		AAAAAAAAAAAAAOBgNwNzQAAAAAAAAAAAAABgaMuLUEA=
		</data>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPhone</string>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPhone 13 Pro Max</string>
		<key>k+KTni1jrwErpcDMEnn3aw</key>
		<string>1754</string>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPhone</string>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		4Yeyst+o+RxCCJwZm2r08cYzrp4=
		</data>
		<key>SbXytSPZXB1jQ8GLZOxCPw</key>
		<data>
		AAAAAAAAAAAAAABAUgbVPwAAAAAAAAAAAAAAQBNMsj8=
		</data>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>USI</string>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>3</string>
		<key>vme9Buk6XiWFCXoHApxNFA</key>
		<string>iPhone</string>
		<key>oYicEKzVTz4/CxxE05pEgQ</key>
		<string>D64AP</string>
		<key>0+nc/Udy4WNG8S+Q7a/s1A</key>
		<string>iPhone14,3</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1.000000</real>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>AA/A</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-11881.80.57</string>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>AA</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>HXTqT3UXOKuTEklxz+wMAA</key>
		<data>
		KwAAAE9JUEekAAAAAAEAAA==
		</data>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>pMeQxE5szZTjLMk10TisDQ</key>
		<data>
		AAAAAADAekAAAAB0NlFuQAAAAAAAAAAAAACgNkpRWkA=
		</data>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
		</array>
		<key>91LyMcx4z1w3SGVeqteMnA</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>J1QHVh74Nnd6Rqyiq71/yw</key>
		<integer>1841299456</integer>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPhone14,3</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>1</string>
		<key>rJkMAGeVLdhP5+10G5hVcA</key>
		<string>{ x: 428.000000, y: 242.537897, width: 0.000000, height: 105.270155 }</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64e</string>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>phone</string>
			<key>ArtworkDeviceSubType</key>
			<integer>2778</integer>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>APPLE7:APPLE6:APPLE5:APPLE4:APPLE3:APPLE3v1:APPLE2:APPLE1:GLES2,0</string>
			<key>CompatibleDeviceFallback</key>
			<string>iPhone13,4</string>
			<key>ArtworkDisplayGamut</key>
			<string>P3</string>
			<key>ArtworkDeviceProductDescription</key>
		<string>iPhone 13 Pro Max</string>
			<key>ArtworkDynamicDisplayMode</key>
			<string>0</string>
			<key>GraphicsFeatureSetClass</key>
			<string>APPLE8</string>
			<key>ArtworkDeviceScaleFactor</key>
			<integer>3</integer>
			<key>DevicePerformanceMemoryClass</key>
			<integer>6</integer>
		</dict>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>D64AP</string>
		<key>yjP8DgByZmLk04Ta6f6DWQ</key>
		<string>iOS</string>
		<key>LTI8wHvEYKy8zR1IXBW1uQ</key>
		<string>P3</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha2-384</string>
		<key>AoKnINTLPoKML3ctoP0AZg</key>
		<dict>
			<key>media-compression</key>
			<false/>
			<key>universal-pARGB10101010-buffer-compression</key>
			<false/>
			<key>universal-lossy-buffer-compression</key>
			<true/>
			<key>universal-buffer-compression-requires-plane-alignment-2048</key>
			<false/>
			<key>buffer-compression</key>
			<false/>
			<key>universal-buffer-compression</key>
			<true/>
			<key>universal-multislice-buffer-compression</key>
			<false/>
		</dict>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>t8110</string>
		<key>WPEkba78QeFFU/wgqpOx6w</key>
		<data>
		AAAAAAAA8D8AAAAATMPQPwAAAAAAAAAAAAAAwE4avT8=
		</data>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A2643</string>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4387</string>
		<key>JUWcn+5Ss0nvr5w/jk4WEg</key>
		<string>iPhone</string>
		<key>qNNddlUK+B/YlooNoymwgA</key>
		<string>18.3.2</string>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>11.2.0</string>
		<key>4qfpxrvLtWillIHpIsVgMA</key>
		<string>0A5285A2-EE09-481C-AB1B-DE6A0194D7A2</string>
		<key>xojWvSTQWT7Icy+xfVzjAQ</key>
		<string>B1DBC15F-5F9C-45C7-8C3D-4A3D5602CCFC</string>
		<key>913P3Zsei09w0GSSOaBD+w</key>
		<data>
		AAAAAAAAAAAAAACg42fOPwAAAAAAAAAAAAAAQBNMsj8=
		</data>
		<key>bbtR9jQx50Fv5Af/affNtA</key>
		<string>iPhone 13 Pro Max</string>
		<key>ybGkijAwLTwevankfVzsDQ</key>
		<data>
		AAAAAAAQlEAAAAAAALSlQA==
		</data>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1.000000</real>
		<key>gBw7IWiBnLHaA+lBrZBgWw</key>
		<integer>600</integer>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>VuGdqp8UBpi9vPWHlPluVQ</key>
		<array>
			<string>iPhone14,3</string>
			<string>iPhone13,4</string>
		</array>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		BAUAANoKAADKAQAAAABAQAAAAAAZAAAA
		</data>
		<key>pB5sZVvnp+QjZQtt2KfQvA</key>
		<string>mav21</string>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>22D82</string>
		<key>gD8SNRcHQeIxCAvsp+2vjA</key>
		<data>
		AQAAAAAAAABST1cAAAAAAA==
		</data>
		<key>JHXk7RXOxvlqK+SxkwcM2A</key>
		<array>
			<string>nfc-express</string>
			<string>alisha</string>
			<string>find-my</string>
		</array>
	</dict>
	<key>CacheVersion</key>
	<string>23B85</string>
</dict>
</plist>
