<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheUUID</key>
	<string>CEEA7316-5800-454A-AA6A-834513AAC59B</string>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAVh8AAAAAAAACAAAAAAAAAAEAAAAAAAAA0AcAAAAAAACw
	BAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAACwBAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAyho4AAAAAQAAAAAAAAAAAAAAAAAA
	AAADAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAA4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAADAAAAQAA
	AAACAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAwAAAAAAAAACAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAABQgQAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHhCAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/////AAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAKAAAAAAAAAGQAAAAAAAAA5AAAAAAAAADkAAAA
	AAAAANAHAAAAAAAAAAAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAOAQAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAHgAAAAAAAAAeAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAABkAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAA8AAAAAAAAADwAAAAAAAAA
	PAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAACamZk+AAAAAAIAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAlAAAAAAAAAAAAAAAAAAAAzAEAAAAAAAAAAEBAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAACAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAABQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAA8AAAAAAAAADwAAAAAAAAAAMAAAAAAAAAAQAAAAAAAABkAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAHgAAAAAAAAAeAAAAAAAAAA8AAAAAAAAADwAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAGBAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	ZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAP////8AAAAAAQEBAQEBAQEBAAABAAEBAQEBAQEBAQEBAQEBAQABAQEBAQAAAQEB
	AQAAAAEAAQAAAQAAAQEBAAAAAAEAAAABAQEAAQABAQEBAQEBAAEBAQEBAAEAAQEAAAEB
	AQAAAQABAQEBAQEAAQABAQEBAQEAAQEAAQABAQEBAAEBAAEBAAABAQEBAQEAAQEBAAEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEAAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQAB
	AQEAAQEBAQEBAQEAAQABAAABAAEAAAEBAQEAAAAAAAEBAQEBAQEBAQEBAAABAAEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQABAQEBAQEBAQEBAQEAAAAAAAAAAAEAAQEBAAEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQAAAQEAAAEAAQABAQEBAQEBAQEBAQEBAAEAAAEAAAEB
	AAEBAQEAAAAAAAABAQEBAQEBAQEBAAAAAQEBAAEBAQEBAQEBAQEBAQEBAQEBAAEAAAEB
	AQEAAQEBAQEBAQEBAQEBAAEAAAEBAQAAAAAAAAAAAAABAQABAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAAAAAAAAAAEBAQEBAQAAAQABAAABAQAAAAAAAAEBAAEBAQEBAQEAAAEB
	AAAAAQEAAAEBAQEBAQEBAQEBAAAAAQEAAQEAAQAAAAAAAAEBAQEBAQEBAQEBAQEAAAAA
	AAAAAQEBAQEAAAAAAQEAAAEBAQEBAQEBAQEAAAAAAAABAQEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>cVdYn5ajyDgnkT7YmtD1Gg</key>
		<array>
			<string>arm64e</string>
			<string>arm64</string>
		</array>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>52</integer>
		<key>aD51uqjUwgRKjAC04BCrxg</key>
		<data>
		AAAAAAAAAAAAAMAJHHpuQAAAAAAAAAAAAADA3ZnoUEA=
		</data>
		<key>xNN67KktpWp7syTT3S1BFA</key>
		<string>iPhone18,2</string>
		<key>oQNDePXjSD1z7W0ddqt9tg</key>
		<string>V54AP</string>
		<key>yUqD8AXE/c+IggkuYoxrqA</key>
		<string>0</string>
		<key>0GizaJLOyfzgAbxQ/5aniA</key>
		<data>
		AQAAAAAAAAAAAAAACAAAAA==
		</data>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPhone</string>
		<key>dW5fpt/6HhaTbnK/UqL6cA</key>
		<string>V54AP</string>
		<key>6JkXMDhnrEMvLiRlYJL6zA</key>
		<data>
		AAAAAAAAAAAAAACgidzGPwAAAAAAAAAAAAAAYNJQpj8=
		</data>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>B</string>
		<key>GGIIDN/ANr8X2WrgS6nBYQ</key>
		<string>V54AP</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1.000000</real>
		<key>qwXfFvH5jPXPxrny0XuGtQ</key>
		<string>314A96EC-9A6A-11F0-A9B9-6043FC9567E5</string>
		<key>PdprWthPO6YyrO6p1vLRgQ</key>
		<data>
		AAAAAAAAAAAAAIAkEZl0QAAAAAAAAAAAAADA3ZnoUEA=
		</data>
		<key>+1TeoctsaQC55zwHZ6MESg</key>
		<string>iPhone18,2</string>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPhone 17 Pro Max</string>
		<key>k+KTni1jrwErpcDMEnn3aw</key>
		<string>1810</string>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPhone</string>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPhone</string>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		GY8ieAAg3iSwkr6tZhbm+ICF4zw=
		</data>
		<key>SbXytSPZXB1jQ8GLZOxCPw</key>
		<data>
		AAAAAAAAAAAAAACAIxDWPwAAAAAAAAAAAAAAQH4csj8=
		</data>
		<key>ZGraRMW0TsxCvONeeJ5C2w</key>
		<string>V54AP</string>
		<key>uCIk6n9Am5fsV2cTjhqFQw</key>
		<string>V54AP</string>
		<key>DxmNcovWWN464hwZdGfonA</key>
		<data>
		AAAAAAAA8D8AAAAAeVvkPwAAAAAAAAAAAAAAwBiluz8=
		</data>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>8</string>
		<key>vme9Buk6XiWFCXoHApxNFA</key>
		<string>iPhone</string>
		<key>oYicEKzVTz4/CxxE05pEgQ</key>
		<string>V54AP</string>
		<key>0+nc/Udy4WNG8S+Q7a/s1A</key>
		<string>iPhone18,2</string>
		<key>myx96YOqBSDzLwljSYWBiQ</key>
		<string>iPhone18,2</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1.000000</real>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>AH/A</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-13822.2.13</string>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>AH</string>
		<key>GEsznZwAYGOa1a67QU1Uew</key>
		<string>iPhone18,2</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>HXTqT3UXOKuTEklxz+wMAA</key>
		<data>
		WQAAAE9JUEcAAAAAAQEAAA==
		</data>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>J1QHVh74Nnd6Rqyiq71/yw</key>
		<integer>1841299456</integer>
		<key>pMeQxE5szZTjLMk10TisDQ</key>
		<data>
		AAAAAACAe0AAAEDCnKdwQAAAAAAAAAAAAACgWqG2WkA=
		</data>
		<key>MKE8hwsOxxRCtwBk2aDBZA</key>
		<string>iPhone18,2</string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
		</array>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPhone18,2</string>
		<key>91LyMcx4z1w3SGVeqteMnA</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>1</string>
		<key>rJkMAGeVLdhP5+10G5hVcA</key>
		<string>{ x: 440.000000, y: 266.475771, width: 0.000000, height: 106.853598 }</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64e</string>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>phone</string>
			<key>ArtworkDeviceSubType</key>
			<integer>2868</integer>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>APPLE9:APPLE8:APPLE7:APPLE6:APPLE5:APPLE4:APPLE3:APPLE3v1:APPLE2:APPLE1:GLES2,0</string>
			<key>CompatibleDeviceFallback</key>
			<string>iPhone17,2</string>
			<key>ArtworkDisplayGamut</key>
			<string>P3</string>
			<key>ArtworkDeviceProductDescription</key>
		<string>iPhone 17 Pro Max</string>
			<key>ArtworkDynamicDisplayMode</key>
			<string>0</string>
			<key>GraphicsFeatureSetClass</key>
			<string>APPLE10</string>
			<key>ArtworkDeviceScaleFactor</key>
			<integer>3</integer>
			<key>DevicePerformanceMemoryClass</key>
			<integer>12</integer>
		</dict>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>V54AP</string>
		<key>b4e7mEbjqfewD6oXmo9U5g</key>
		<string>V54AP</string>
		<key>yjP8DgByZmLk04Ta6f6DWQ</key>
		<string>iOS</string>
		<key>LTI8wHvEYKy8zR1IXBW1uQ</key>
		<string>P3</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha2-384</string>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>t8150</string>
		<key>AoKnINTLPoKML3ctoP0AZg</key>
		<dict>
			<key>media-compression</key>
			<false/>
			<key>universal-pARGB10101010-buffer-compression</key>
			<true/>
			<key>universal-lossy-buffer-compression</key>
			<true/>
			<key>universal-buffer-compression-requires-plane-alignment-2048</key>
			<true/>
			<key>buffer-compression</key>
			<false/>
			<key>universal-buffer-compression</key>
			<true/>
			<key>universal-multislice-buffer-compression</key>
			<true/>
		</dict>
		<key>WPEkba78QeFFU/wgqpOx6w</key>
		<data>
		AAAAAAAA8D8AAADA4dbRPwAAAAAAAAAAAAAAYA+dvD8=
		</data>
		<key>qzHhHrOpIDLAq2balBdVZg</key>
		<data>
		AAAAAAAAAAAAAGB85FdlQAAAAAAAAAAAAACgZ3TVREA=
		</data>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>proxima</string>
		<key>GqAdWRLnC7oYQrNYF48VYA</key>
		<string>iPhone18,2</string>
		<key>JUWcn+5Ss0nvr5w/jk4WEg</key>
		<string>iPhone</string>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A3525</string>
		<key>4qfpxrvLtWillIHpIsVgMA</key>
		<string>BE447ED7-1C61-4481-8F4E-A2AF40F2C861</string>
		<key>xojWvSTQWT7Icy+xfVzjAQ</key>
		<string>0</string>
		<key>913P3Zsei09w0GSSOaBD+w</key>
		<data>
		AAAAAAAAAAAAAAAgiVLQPwAAAAAAAAAAAAAAQH4csj8=
		</data>
		<key>bbtR9jQx50Fv5Af/affNtA</key>
		<string>iPhone 17 Pro Max</string>
		<key>NE090Fbwd79LVOHj0AN+OA</key>
		<string>23A355</string>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>11.2.0</string>
		<key>ybGkijAwLTwevankfVzsDQ</key>
		<data>
		AAAAAACglEAAAAAAAGimQA==
		</data>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1.000000</real>
		<key>gBw7IWiBnLHaA+lBrZBgWw</key>
		<integer>600</integer>
		<key>yAfB6E2v0++rHtdW7SDg8w</key>
		<string>V54AP</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>VuGdqp8UBpi9vPWHlPluVQ</key>
		<array>
			<string>iPhone18,2</string>
			<string>iPhone17,2</string>
		</array>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>23A355</string>
		<key>pB5sZVvnp+QjZQtt2KfQvA</key>
		<string>mav25</string>
		<key>gD8SNRcHQeIxCAvsp+2vjA</key>
		<data>
		AQAAAAAAAABHV1cAAAAAAA==
		</data>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		KAUAADQLAADMAQAAAABAQAAAAAAlAAAA
		</data>
		<key>wYMBabAO8VguyDDVgCsPdg</key>
		<string>B1</string>
		<key>G91h5IuJvXISeyngNFqEpg</key>
		<string>iPhone18,2</string>
		<key>PsIXZ7uVWznKaTEXDbFSYA</key>
		<data>
		AAAAAACAe0AAAAD3ZQGDQAAAAAAAAAAAAABAGyLPWUA=
		</data>
		<key>JHXk7RXOxvlqK+SxkwcM2A</key>
		<array>
			<string>nfc-express</string>
			<string>alisha</string>
			<string>find-my</string>
		</array>
	</dict>
	<key>CacheVersion</key>
	<string>23B85</string>
</dict>
</plist>
